/* 顶部 */

.header {
    position: relative;
    display: flex;
    width: 100%;
    height: 9.375vw;
    /* margin: 0 auto; */
    min-height: 155px;
    background: url("../images/background.png");
    min-height: 155px;
    background-color: #f9f9f9;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
}

.menu-wrap {
    display: flex;
    position: absolute;
    width: 100%;
    height: 56px;
    padding: 10px 24px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.459);
    z-index: 1;
}

/* 菜单栏 */

.menu-link-ul {
    display: flex;
    padding: 2px 0;
    align-items: center;
}

.menu-link {
    flex-shrink: 0;
}

.menu-link-ul>li {
    position: relative;
    margin-right: 12px;
}

.menu-link-ul>li>a {
    display: block;
    height: 32px;
    color: #fff;
    line-height: 32px;
}

.menu-link-ul li>a i {
    display: inline-block;
    height: 32px;
    margin-right: 6px;
    font-size: 18px;
    line-height: 31px;
    vertical-align: middle;
}

/* 搜索框 */

.menu-search {
    width: 500px;
    margin: 0 10px;
}

.search-box {
    display: flex;
    padding-left: 16px;
    border-radius: 2px;
    background: #fff;
    justify-content: space-between;
    align-items: center;
}

input {
    flex: 1;
    height: 34px;
    color: #000;
    font-size: 14px;
    line-height: 34px;
    border: none;
    border-radius: 2px;
}

.search-btn {
    display: block;
    width: 48px;
    height: 36px;
    font-size: 16px;
    background-color: #e7e7e7;
    border: none;
}

.search-btn:hover {
    color: #00a1d6;
    cursor: pointer;
}

/* 用户中心 */

.menu-user-center {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.menu-user-center .user-item {
    height: 36px;
    margin-left: 12px;
    line-height: 36px;
}

.menu-user-center .user-item>a, .menu-user-center .user-item>a:hover {
    color: #fff;
}

.user-avatar img {
    display: block;
    width: 36px;
    margin-right: 10px;
    border-radius: 50%;
    transition: all .1s ease;
}

.upload {
    width: 100px;
    margin-left: 14px;
    text-align: center;
    background-color: #fb7299;
    border-radius: 2px;
}

.upload a {
    display: block;
    width: 100%;
    height: 36px;
}

/* 游戏中心下拉 */

.gameCenter {
    display: none;
    position: absolute;
    width: 466px;
    height: 260px;
    top: 42px;
    left: -52px;
    border-radius: 0 0 4px 4px;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
    animation: name duration timing-function delay iteration-count direction fill-mode;
    z-index: 10;
}

.game:hover .gameCenter {
    display: block;
    animation: slowBox .3s ease forwards;
}

.gameCenter .icon-xiaosanjiao {
    top: -20px;
    left: 67px;
}

.gameLeft {
    float: left;
    width: 265px;
    margin-top: 12px;
}

.gameLink {
    display: block;
    position: relative;
    width: 240px;
    height: 128px;
    margin-left: 12px;
    border-radius: 3px;
}

.gameLink img {
    border-radius: 3px;
}

.gameLink>p {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    color: #fff;
    font-size: 12px;
    line-height: 30px;
    border-radius: 3px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.747));
}

.recomGames {
    margin-top: 6px;
    padding: 0 6px;
}

.recomGames a {
    display: block;
    float: left;
    width: 84px;
    height: 114px;
    padding-top: 6px;
    text-align: center;
}

.recomGames a>img {
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    border-radius: 12px;
}

.recomGames a>span {
    width: 72px;
    height: 40px;
    margin: 4px auto;
    display: block;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #222;
    overflow: hidden;
    word-break: break-all;
}

.recomGames a:hover {
    background-color: #e5e9ef;
}

.gameRight {
    float: left;
    width: 201px;
    margin-top: 12px;
    background: url("../images/line.png") no-repeat;
}

.gameWrap {
    width: 201px;
}

.title {
    height: 30px;
}

.gameList li {
    width: 100%;
    height: 29px;
    padding-left: 6px;
    line-height: 29px;
}

.gameList li a {
    display: block;
    width: 100%;
    color: #000;
    padding-left: 15px;
    font-size: 12px;
}

.gameList li a:hover {
    color: #00a1d6;
    background-color: #e5e9ef;
}

.gamePic {
    display: none;
    position: absolute;
    width: 220px;
    height: 220px;
    bottom: 0;
    right: -197px;
}

.gameList li a:hover+.gamePic {
    display: block;
}

/* 直播下拉 */

.live-info {
    display: none;
    position: absolute;
    top: 42px;
    left: -50px;
    width: 524px;
    padding: 20px 0 20px 20px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
    background-color: white;
}

.live:hover .live-info {
    display: block;
    animation: slowBox .4s ease forwards;
}

.live-info .icon-xiaosanjiao {
    left: 57px;
}

.live-hot {
    float: left;
    width: 254px;
    height: 100%;
    border-radius: 0 0 0 4px;
}

.title {
    color: #fb7299;
    font-size: 15px;
    height: 30px;
    margin-bottom: 5px;
}

.user-list a {
    float: left;
    width: 64px;
    margin-right: 17px;
    margin-bottom: 1px;
}

.user-list a img {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.imgdiv {
    position: relative;
}

.imgmask {
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    color: #fff;
    text-align: right;
    padding-right: 10px;
    line-height: 64px;
    font-weight: 700;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    /* opacity: 0; */
    transform: scale(0);
    /* transition: all .1s ease-out; */
    transition: all .2s cubic-bezier(.22, .58, .12, .98);
}

.imgmask::before {
    content: "";
    display: table;
    position: absolute;
    top: 26px;
    left: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fb7299;
}

.user-list a:hover .imgmask {
    transform: scale(1);
    /* opacity: 1; */
}

.user-list a:hover {
    color: #1c1d1f;
}

.user-list a span {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hot-act {
    float: left;
    width: 250px;
}

.hot-act .title {
    height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
}

.actimg-list {
    width: 100%;
    height: 200px;
    border-left: 1px solid #e5e9ef;
}

.actimg-list a {
    display: block;
    padding: 10px 20px;
}

.actimg-list a img {
    display: block;
    width: 200px;
    height: 80px;
    border-radius: 3px;
}

.actimg-list a:hover {
    background-color: #e7e7e7;
}

/* 漫画下拉 */

.comic-list {
    display: none;
    position: absolute;
    width: 520px;
    top: 42px;
    left: -49px;
    height: 258px;
    padding: 13px 0 20px 10px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
    background-color: white;
}

.comic:hover .comic-list {
    display: block;
    animation: slowBox .4s ease forwards;
}

.comic-list .icon-xiaosanjiao {
    left: 54px;
}

.comic-left {
    float: left;
    width: 310px;
    margin-right: 12px;
}

.comic-left a {
    display: block;
    float: left;
    padding: 7px 10px 0 10px;
    border-radius: 3px;
}

.comic-left a:hover {
    color: #1c1d1f;
    background-color: #e5e9ef
}

.box {
    width: 135px;
    height: 105px;
}

.box img {
    display: block;
}

.box span {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 30px;
    font-size: 13px;
}

.box:hover {
    background-color: #e5e9ef
}

.comic-right {
    float: left;
    width: 188px;
}

.hot-comic {
    float: left;
    width: 100%;
    height: 188px;
    margin-top: 7px;
    border-left: 1px solid #e5e9ef;
    background-color: white;
}

.hot-comic p {
    padding-left: 20px;
    font-size: 16px;
    height: 25px;
    line-height: 20px;
}

.hot-comic ol {
    font-size: 13px;
    color: #1c1d1f;
}

.hot-comic ol span {
    color: #cf9870;
}

.hot-comic ol a {
    display: block;
    height: 34px;
    line-height: 36px;
    padding-left: 20px;
    color: #1c1d1f;
}

.hot-comic ol li:hover {
    background-color: #e5e9ef;
}

.comicpic {
    display: none;
    position: absolute;
    top: 32px;
    right: -147px;
    width: 157px;
    border-radius: 3px;
}

.hot-comic ol li:hover>img {
    display: block;
}

/* 跨晚动画 */

.move {
    display: block;
    width: 54px;
    height: 36px;
    overflow: hidden;
}

.ani {
    position: relative;
    width: 54px;
    height: 108px;
    overflow: hidden;
    text-align: center;
    animation: move 10s ease-out 4.5s infinite normal;
}

.up {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 36px;
}

.ani img {
    display: block;
    position: absolute;
    left: 0;
    top: 36px;
    height: 36px;
    padding-bottom: 3px;
}

.down {
    position: absolute;
    left: 0;
    top: 72px;
    width: 100%;
    height: 36px;
}

/* 下载客户端 */

.menuLink ul .phone>a>i {
    margin-right: 1px;
}

.download {
    display: none;
    position: absolute;
    top: 42px;
    left: -97px;
    width: 280px;
}

.phone:hover .download {
    display: block;
    animation: slowBox .4s ease forwards;
}

.download .icon-xiaosanjiao {
    top: -17px;
    left: 132px;
}

/* 个人头像下拉 */

.user-item {
    position: relative;
}

.menu-user-center .user-scale {
    display: none;
    position: absolute;
    width: 280px;
    top: 42px;
    left: -119px;
    color: #606266;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
}

.user-scale img {
    position: absolute;
    display: block;
    width: 70px;
    top: -36px;
    left: 104px;
}

.user-scale>p {
    margin-top: 42px;
    color: #1c1d1f;
    height: 20px;
    line-height: 19px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

.rateMsg {
    position: relative;
    padding: 11px 16px 10px 16px;
}

.rateMsg .fl {
    float: left;
    color: #212121;
    font-size: 14px;
}

.rateMsg .fr {
    display: block;
    float: right;
    color: #999;
    font-size: 12px;
}

.rateMsg>a {
    display: block;
    width: 100%;
    height: .1em;
    background-color: #f4f4f4;
}

.rateMsg>a::before {
    content: "";
    display: block;
    width: 44%;
    height: 0.1em;
    background-color: #f3cb85;
}

.rateRight {
    position: absolute;
    top: 0px;
    left: 280px;
    width: 233px;
    color: #212121;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
    opacity: 0;
    transition: all .3s ease;
}

.rateMsg:hover .rateRight {
    opacity: 1;
}

.ins {
    margin: 14px 14px 3px 14px;
}

.ins p {
    line-height: 20px;
    white-space: normal;
}

.ins p:first-child {
    margin-bottom: 14px;
}

.ins a {
    display: block;
    height: 30px;
    margin-top: 8px;
    line-height: 30px;
    color: #00a1d6;
}

.coins {
    padding: 2px 16px;
}

.icon-icon_shipin_yingbishu {
    color: #00a1d6;
    font-size: 22px;
}

.coins a {
    display: inline-block;
    width: 60px;
    color: #606266;
    vertical-align: top;
}

.coins a:hover, .coins a:hover span {
    color: #00a1d6;
}

.icon-b {
    color: rgb(255, 182, 26);
    font-size: 20px;
    font-weight: 700;
    vertical-align: bottom;
}

.coins span {
    display: inline-block;
    height: 25px;
    margin-left: 3px;
}

.coins .icons {
    float: right;
    width: 20px;
    margin: 0 3px;
}

.coins .icons i {
    width: 15px;
    height: 15px;
    font-size: 16px;
    color: white;
    border: 1px solid #00a1d6;
    border-radius: 50%;
    background-color: #00a1d6;
}

.counts {
    height: 60px;
    text-align: center;
    color: #999;
    border: 1px solid #f4f4f4;
    border-left: none;
    border-right: none;
}

.counts>a {
    float: left;
    display: block;
    color: #999;
    width: 90px;
    height: 60px;
    font-size: 12px;
}

.counts>a:hover, .counts>a:hover span {
    color: #00a1d6;
}

.counts>a>p {
    height: 22px;
}

.counts span {
    display: block;
    height: 30px;
    color: #212121;
    line-height: 30px;
    font-size: 16px;
    font-weight: 700;
}

.links {
    padding: 9px 0;
}

.links a, .lang a, .exit a {
    display: block;
    height: 40px;
    padding-left: 22px;
    line-height: 40px;
    margin-bottom: 2px;
}

.links a:hover, .lang a:hover, .exit a:hover, .messages a:hover {
    color: #212121;
    background-color: #f4f4f4;
}

.links a i, .lang a i, .exit a i {
    color: #979797;
    margin-right: 8px;
    font-size: 19px;
}

.lang {
    position: relative;
    padding: 6px 0;
    border: 1px solid #f4f4f4;
}

.lang a i, .exit a i {
    vertical-align: middle;
}

.lang>i {
    position: absolute;
    color: #979797;
    top: 8px;
    right: 9px;
}

.lang .icon-arrow-left-c {
    float: right;
}

.exit {
    padding: 6px 0;
}

.selectlang {
    position: absolute;
    width: 243px;
    padding: 5px 0;
    top: 0;
    right: -244px;
    background-color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
    opacity: 0;
    transition: all .3s ease;
}

.lang:hover .selectlang {
    opacity: 1;
}

.selectlang a:first-child, .selectlang a:first-child i {
    color: #00a1d6;
}

.selectlang a i {
    float: right;
}

.user-avatar:hover>a img {
    opacity: 0;
}

.user-avatar:hover .user-scale {
    display: block;
    animation: slowBox .4s ease forwards;
}

/* 大会员 */

.vip {
    display: none;
    position: absolute;
    top: 42px;
    left: -109px;
    width: 260px;
    padding: 12px 13px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
}

.member:hover .vip {
    display: block;
    animation: slowBox .4s ease forwards;
}

.vip .icon-xiaosanjiao {
    top: -21px;
    left: 124px;
}

.vip .title {
    color: #212121;
    font-size: 14px;
    font-weight: 900;
}

.vip a {
    display: block;
    width: 100%;
    /* padding: 5px; */
    padding-top: 7px;
    border-radius: 2px;
}

.vip a img {
    border-radius: 2px;
}

.vip .vip-word {
    padding-top: 1px;
    line-height: 20px;
}

.vip .vip-word:hover {
    color: #00a1d6;
}

.vip .take-money {
    width: 159px;
    height: 32px;
    margin: 31px auto 4px auto;
    padding: 0;
    color: #fff;
    text-align: center;
    line-height: 32px;
    background-color: #00a1d6;
}

.vip .take-money:hover {
    background-color: #00b5e5;
}

/* 消息 */

.messages {
    display: none;
    position: absolute;
    top: 42px;
    left: -70px;
    width: 170px;
    padding: 10px 0 7px 0;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
}

.messages .icon-xiaosanjiao {
    top: -20px;
    left: 78px;
}

.msg:hover .messages {
    display: block;
    animation: slowBox .4s ease forwards;
}

.messages a {
    display: block;
    height: 35px;
    padding-left: 22px;
    line-height: 35px;
    margin-bottom: 2px;
}

/* 动态 */

.tab-bar {
    display: none;
    position: absolute;
    top: 42px;
    left: -170px;
    width: 367px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
}

.update:hover .tab-bar {
    display: block;
    animation: slowBox .4s ease forwards;
}

.tab-bar .icon-xiaosanjiao {
    top: -20px;
    left: 176px;
}

.tab-cate {
    padding: 12px 0 0 18px;
    font-size: 12px;
    border: 1px solid #ebe8e8;
}

.tab-cate>div {
    display: inline-block;
    cursor: pointer;
    width: 26px;
    height: 24px;
    overflow: hidden;
    color: #999;
    line-height: 24px;
    text-align: center;
    border-radius: 17px;
    transition: all .3s ease;
}

.tab-cate>div:nth-child(2) {
    margin-left: 8px;
    margin-right: 21px;
}

.tab-cate .active {
    width: 70px;
    color: #fff;
    background-color: #00a1d6;
}

.new-info {
    color: #979797;
    padding: 47px 0 30px 0;
    text-align: center;
    height: 100px;
}

.history {
    font-size: 12px;
    height: 30px;
}

.history span {
    display: block;
    color: #979797;
    padding-top: 4px;
    text-align: center;
}

.history span::before, .history span::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -4px;
    width: 124px;
    border-top: 1px solid #ebe8e8;
}

.history span::before {
    margin-right: 12px;
}

.history span::after {
    margin-left: 12px;
}

.video-list {
    height: 470px;
    overflow-y: auto;
}

.video-item a {
    display: block;
    padding-left: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.video-item>a>div {
    float: left;
}

.video-item a:hover {
    color: #212121;
    background-color: #f4f4f4;
}

.video-item a .detail {
    width: 191px;
    margin-left: 14px;
    margin-right: 6px;
    font-size: 11px;
}

.video-item a .detail span {
    color: #999;
    float: left;
    line-height: 12px;
    height: 18px;
    margin: 3px 12px 0 0;
}

.video-item .detail div {
    height: 18px;
}

.video-item .detail p {
    font-size: 14px;
    margin-top: 6px;
    line-height: 19px;
}

.more {
    position: relative;
    height: 65px;
    text-align: center;
}

.more>a {
    display: block;
    position: absolute;
    width: 310px;
    height: 30px;
    line-height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f4f4f4;
}

.more>a:hover {
    background-color: #e7e7e7;
}

/* 收藏 */

.collect {
    display: none;
    position: absolute;
    top: 42px;
    left: -249px;
    width: 520px;
    height: 520px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
}

.collection:hover .collect {
    display: block;
    animation: slowBox .4s ease forwards;
}

.collect .icon-xiaosanjiao {
    top: -20px;
    left: 254px;
}

.tab-list {
    width: 150px;
    padding-top: 13px;
}

.tab-list li {
    height: 47px;
    color: #212121;
    ;
    line-height: 47px;
    padding: 0 19px 0 15px;
    cursor: pointer;
}

.tab-list li:hover {
    background-color: #fafafa;
}

.tab-list ul span {
    color: #999;
    font-size: 15px;
}

.tab-list ul .current {
    color: #fff;
    background-color: #00a1d6;
}

.tab-list ul .current span {
    color: #fff;
}

.tab-con {
    width: 370px;
    height: 520px;
    padding-top: 13px;
    border-left: 1px solid #e5e9ef;
    background-color: #fff;
}

.tab-items {
    height: 460px;
    overflow-y: auto;
}

.tab-items .item {
    display: none;
}

.item-link {
    display: block;
    padding: 7px 5px 7px 20px;
}

.item-link:hover {
    color: #212121;
    background-color: #f4f4f4;
}

.item-img {
    position: relative;
    width: 107px;
    height: 61px;
    border-radius: 2px;
}

.length {
    position: absolute;
    height: 16px;
    line-height: 16px;
    padding: 0 2px;
    right: 5px;
    bottom: 4px;
    font-size: 12px;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
}

.item-img img {
    border-radius: 2px;
}

.item-detail {
    width: 220px;
    padding-left: 11px;
}

.item-title {
    display: -webkit-box;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.item-user {
    height: 21px;
    color: #999;
    font-size: 12px;
    line-height: 25px;
}

.playall {
    height: 47px;
    text-align: center;
    border-top: 1px solid #e5e9ef;
}

.playall a {
    display: block;
    width: 100%;
    height: 47px;
    padding-top: 5px;
    color: #00b5e5;
}

.playall a i {
    font-size: 15px;
    margin-right: 4px;
    vertical-align: top;
}

.playall a:hover {
    background-color: #f4f4f4;
}

/* 历史 */

.mini-his {
    display: none;
    position: absolute;
    top: 42px;
    left: -170px;
    width: 369px;
    height: 518px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
}

.past:hover .mini-his {
    display: block;
    animation: slowBox .4s ease forwards;
}

.mini-his .icon-xiaosanjiao {
    top: -20px;
    left: 176px;
}

.mini-his .tab-cate div {
    color: #606266;
}

.mini-his .tab-cate .active {
    color: #fff;
}

.today {
    height: 38px;
    font-size: 12px;
    color: #999;
    padding: 7px 0 0 20px;
}

.bottom {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: #757575;
}

.percent {
    width: 30%;
    background-color: #fb7299;
}

/* 投稿 */

.kind-upload {
    display: none;
    position: absolute;
    top: 47px;
    right: -18px;
    width: 304px;
    height: 77px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
}

.upload:hover .kind-upload {
    display: block;
    animation: slowBox .4s ease forwards;
}

.kind-upload .icon-xiaosanjiao {
    top: -20px;
    right: 66px;
    font-size: 13px;
}

.kind-upload a {
    display: inline-block;
    width: 76px;
    height: 77px;
    color: #212121;
    line-height: 19px;
}

.kind-upload a:hover {
    background-color: #f4f4f4;
}

.kind-upload a i {
    display: block;
    width: 100%;
    height: 30px;
    color: #757575;
    margin: 9px 0;
    line-height: 30px;
    font-size: 26px;
}

/* 顶部菜单遮盖层 */

.mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(0, 0, 0, .4), transparent);
}

.header>img {
    position: absolute;
    left: 160px;
    bottom: 13px;
    width: 165px;
    height: 79px;
}

/* 导航模块 */

.main {
    width: 1198px;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    padding: 20px 0;
}

.nav-left {
    display: flex;
}

.nav-left li {
    display: flex;
    width: 50px;
    height: 68px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 36px;
    height: 36px;
    margin: 1px auto 4px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    background-color: #ff5c7c;
}

.icon i {
    color: #fff;
    font-weight: 700;
    font-size: 25px;
}

.nav-left li:nth-child(2) a div {
    background-color: #fcba2a;
}

.nav-left li:nth-child(3) a div {
    background-color: #ff716d;
}

.nav-left li:nth-child(4) a div {
    background-color: #6dc781;
}

.line {
    height: 46px;
    margin: 13px 8px 0;
    border-right: 1px solid #e7e7e7;
}

.nav-center {
    display: flex;
    height: 68px;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
}

.nav-item {
    display: flex;
    height: 34px;
    align-items: center;
}

.item-num {
    width: 32px;
    margin: 3px 0 0 1px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    border-radius: 2px;
    transform: scale(.85);
    background: #73c9e5;
}

.nav-right {
    display: flex;
    width: 220px;
    height: 68px;
    flex-direction: column;
    flex-wrap: wrap;
}

.nav-item i {
    font-size: 19px;
}

.item-icon {
    margin: 0px 7px 0 4px;
}

/* 导航模块中的隐藏的子导航 */

.nav-all-up {
    position: relative;
}

.sub-nav {
    display: none;
    position: absolute;
    top: -165px;
    left: -7px;
    max-height: 148px;
    flex-flow: row wrap;
    writing-mode: vertical-lr;
    border-radius: 4px;
    /* border: 1px solid #ebeef5; */
    background: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    z-index: 20;
}

.dropdown:hover .sub-nav, .dropdown:hover .sub-nav-down {
    display: flex;
    animation: slowBox .4s ease forwards;
}

.entertain {
    top: -93px;
}

.playroom {
    top: -128px;
}

.sub-nav a {
    height: 37px;
    padding: 10px 13px;
    font-size: 12px;
    border: 1px solid transparent;
    writing-mode: horizontal-tb;
}

.sub-nav>.icon-angle-down {
    position: absolute;
    height: 40px;
    left: 12px;
    bottom: -36px;
    color: #fff;
    font-size: 8px;
    border: 1px solid transparent;
    z-index: 20;
}

.nav-all-down {
    position: relative;
}

.sub-nav-down {
    display: none;
    position: absolute;
    max-height: 148px;
    top: 253px;
    left: 365px;
    flex-flow: row wrap;
    writing-mode: vertical-lr;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    z-index: 20;
}

.orgin {
    left: 437px;
}

.games {
    left: 501px;
}

.digit {
    left: 570px;
}

.circle {
    left: 642px;
}

.info {
    left: 710px;
}

.videos {
    left: 780px;
}

.living {
    left: 1135px;
}

.sub-nav-down::before {
    content: "";
    display: block;
    position: absolute;
    top: -25px;
    left: 16px;
    width: 0;
    height: 9px;
    /* line-height: 50px; */
    /* box-shadow: 0 2px 12px 0 rgba(0,0,0,.1); */
    border: 10px solid #fff;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

.sub-nav-down a {
    height: 37px;
    padding: 10px 13px;
    font-size: 12px;
    border: 1px solid transparent;
    writing-mode: horizontal-tb;
}

/* 轮播图模块 */

.recommend {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.carousel-wrap {
    position: relative;
    width: 550px;
    height: 242px;
    overflow: hidden;
}

.carousel {
    position: absolute;
    width: 600%;
}

.carousel-item {
    position: relative;
    float: left;
    width: 550px;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 550px;
    height: 48px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.522));
}

.circle-btn {
    position: absolute;
    right: 12px;
    bottom: 12px;
    line-height: 30px;
}

.circle-btn>li {
    float: left;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border-radius: 50%;
    border: 2px solid transparent;
    vertical-align: middle;
    background: #fff;
    transition: all .2s;
    cursor: pointer;
}

.circle-btn li:hover {
    border: 2px solid #fff;
    background-color: #00a1d6;
    transform: scale(1.3);
}

.circle-btn .cur, .circle-btn .cur:hover {
    border-width: 0;
    background-color: transparent;
    background: url("../images/icon_slide_selected.png") no-repeat;
    background-size: cover;
    transform: scale(1.8);
}

.carousel-info {
    position: absolute;
    width: 70%;
    bottom: 10px;
    left: 12px;
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.more-info {
    opacity: 0;
    position: absolute;
    bottom: 44px;
    right: 12px;
    padding: 4px 8px;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    background: rgba(0, 0, 0, .65);
    transition: opacity .3s;
}

.more-info::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 5px 0 4px;
    border: 2px solid #fff;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
}

.more-info:hover {
    color: #fff;
}

.carousel-wrap:hover .more-info {
    opacity: 1;
}

.rec-video {
    display: flex;
    position: relative;
    width: 638px;
    border-radius: 2px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

.rec-item {
    width: 206px;
    height: 116px;
    border-radius: 2px;
    overflow: hidden;
}

.rec-item a {
    display: block;
    position: relative;
}

.rec-item img {
    border-radius: 2px;
}

.rec-detail {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: 116px;
    padding: 24px 8px 0 8px;
    border-radius: 2px;
    background: linear-gradient(transparent, rgba(0, 0, 0));
    transition: top .3s;
    /* 解决文字抖动 */
    transform: translate3d(0, 0, 0);
}

.rec-title {
    height: 18px;
    margin-bottom: 10px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rec-up, .rec-num {
    color: #e0e0e0;
    font-size: 12px;
}

.rec-icon {
    margin-right: 5px;
    vertical-align: middle;
}

.rec-num {
    margin-top: 2px;
}

.rec-play {
    opacity: 0;
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: 8px;
    right: 8px;
    background: url("../pictures/play.png");
    background-size: contain;
    transition: opacity .3s;
    transition-delay: .2s;
}

.rec-item:hover .rec-detail {
    top: 0;
    background: rgba(0, 0, 0, .7)
}

.rec-item:hover .rec-title {
    height: 36px;
    white-space: normal;
}

.rec-video .rec-item:nth-child(n+7) {
    display: none;
}

.rec-detail:hover .rec-play {
    opacity: 1;
}

.left-btn, .right-btn {
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 32px;
    height: 70px;
    border-radius: 0 2px 2px 0;
    background: rgba(0, 0, 0, .6);
    transform: translateY(-50%);
    transition: opacity .3s;
    cursor: pointer;
}

.left-btn {
    left: 0;
}

.right-btn {
    right: 0;
}

.left-btn::before, .right-btn::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
}

.left-btn::before {
    margin: 27px 0 0 12px;
    transform: rotate(45deg);
}

.right-btn::before {
    margin: 27px 0 0 5px;
    transform: rotate(-135deg);
}

.rec-video:hover .btn {
    opacity: 1;
}

/* 推广模块 */

.box-content {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
}

.l-wrap {
    width: 854px;
}

.r-wrap {
    width: 320px;
}

.l-con>span {
    margin-right: 20px;
    color: #212121;
    font-size: 20px;
    cursor: default;
}

.l-con {
    display: flex;
}

.l-con>i {
    width: 36px;
    height: 36px;
    color: rgb(255, 215, 120);
    font-size: 28px;
}

.l-info {
    color: #505050;
    line-height: 36px;
}

.l-info a {
    color: #505050;
    font-size: 12px;
}

.l-info span {
    margin-right: 24px;
    font-size: 12px;
}

.l-info i {
    margin-right: 3px;
    color: #f0361b;
}

.spread-title a:hover {
    color: #00a1d6;
}

.spread-box {
    display: flex;
    justify-content: space-between;
}

.spread-item {
    width: 206px;
}

.spread-video {
    position: relative;
    width: 100%;
    height: 116px;
}

.pic-all, .pic-all img {
    display: block;
    border-radius: 2px;
}

.pic-all:hover+.rec-play {
    opacity: 1;
}

.spv-title {
    display: -webkit-box;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 8px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 500;
    padding-right: 12px;
}

/* 精灵图的使用 */

.sprite {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../pictures/sprite_1.webp") no-repeat;
    background-size: 2060px;
    background-position: 0px 0px;
    transition: opacity .3s;
    z-index: 3;
}

.pic-all:hover .sprite {
    opacity: 1;
}

.play-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 10px;
    border-color: #000;
    border-style: solid;
    border-width: 4px 8px;
    background: #444;
}

.play-bar span {
    display: block;
    width: 0%;
    background: #fff;
    height: 2px;
    transition: width .12s;
}

.spv-up {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    color: #999;
    line-height: 16px;
    margin-top: 60px;
}

.online-list {
    height: 30px;
    margin: 3px 0 19px;
    color: #212121;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    background: #f4f4f4;
}

.online>a, .ad a {
    display: block;
    position: relative;
    border-radius: 2px;
}

.online>a img {
    border-radius: 2px;
}

.ad-bc {
    position: absolute;
    left: 5px;
    bottom: 10px;
    width: 38px;
    height: 22px;
    margin-right: 3px;
    vertical-align: middle;
    background: url("../pictures/下载.png") no-repeat;
    background-size: cover;
}

.ad {
    margin-bottom: 46px;
}

/* 正在直播 */

.live-header>.l-con i {
    margin-right: 6px;
    color: rgb(72, 207, 229);
    font-size: 30px;
}

.live-list {
    display: flex;
    height: 404px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

.list-box {
    display: flex;
    height: 404px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

.live-item {
    width: 206px;
}

.ex-btn {
    display: flex;
    align-items: center;
}

.btn-base {
    display: flex;
    height: 22px;
    font-size: 12px;
    color: #505050;
    text-align: center;
    border: 1px solid silver;
    border-radius: 2px;
    transition: all .2s;
    line-height: 16px;
    align-items: center;
    cursor: pointer;
}

.btn-base:hover {
    background-color: #f4f4f4;
}

.btn-change {
    padding: 0 0 0 6px;
    width: 72px;
}

.btn-change:hover i {
    transform: rotate(360deg);
}

.btn-more {
    padding: 0 0 0 12px;
    width: 58px;
    margin-left: 12px;
}

.btn-more:hover {
    color: #505050;
}

.btn-more::after {
    content: "";
    width: 7px;
    height: 7px;
    margin-left: 1px;
    border: 1px solid;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
}

.btn-change i {
    margin-right: 6px;
    font-size: 13px;
    transition: all .5s;
}

.live-item .live-pic {
    position: relative;
}

.live-pic:hover .live-mask {
    opacity: 1;
}

.live-mask {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background: url('../pictures/live-back_1.jpg') no-repeat;
    background-size: contain;
    transition: opacity .3s;
}

.item-info {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.up-avatar img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.video-desc {
    width: 158px;
}

.video-desc p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-title {
    line-height: 20px;
}

.video-detail {
    font-size: 12px;
    color: #505050;
    line-height: 18px;
    margin-top: 2px;
}

.video-tag {
    font-size: 12px;
    line-height: 16px;
    color: #999;
    margin-top: 8px;
}

.live-tabBar {
    display: flex;
    height: 36px;
    margin-right: 16px;
    margin-bottom: 16px;
    align-items: center;
}

.live-tabBar div {
    font-size: 12px;
    line-height: 18px;
    height: 22px;
    margin-right: 12px;
    cursor: pointer;
}

.live-tabBar .cur {
    border-bottom: 1px solid #00a1d6;
    color: #00a1d6;
}

.live-content {
    width: 100%;
}

.content-item {
    display: none;
    width: 100%;
}

.rank-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.rank-up img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-right: 12px;
}

.rank-up {
    display: flex;
    align-items: center;
}

.rank-num {
    width: 18px;
    height: 18px;
    margin-right: 12px;
    color: #999;
    text-align: center;
    line-height: 18px;
    border-radius: 2px;
}

.rank-top {
    color: #fff;
    background: #00a1d6;
}

.row {
    color: #505050;
    font-size: 12px;
    line-height: 18px;
}

.up-follow {
    color: #999;
    font-size: 12px;
}

.focus-up {
    text-align: center;
    line-height: 16px;
    font-size: 13px;
    color: #505050;
}

.live-rec {
    position: relative;
    height: 330px;
    overflow: hidden;
}

.live-rec .carousel {
    width: 400%;
}

.live-rec .carousel-item {
    width: 320px;
}

/* 通用视频卡片样式 */

.box-title {
    display: flex;
    height: 36px;
    margin-bottom: 16px;
    line-height: 36px;
    justify-content: space-between;
}

.box-list {
    display: flex;
    height: 404px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

.box-item {
    width: 206px;
}

.box-all {
    display: block;
    position: relative;
    height: 116px;
}

.information {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 28px;
    padding: 6px 8px;
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    align-items: center;
    justify-content: space-between;
}

.info-left {
    display: flex;
    align-items: center;
}

.info-left i {
    margin-right: 2px;
}

.info-left span {
    display: flex;
}

.info-left span i {
    margin-right: 5px;
}

.info-left span:first-child {
    margin-right: 10px;
}

.late-play {
    opacity: 0;
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: 8px;
    right: 8px;
    background: url("../pictures/play.png");
    background-size: contain;
    transition: opacity .3s;
    transition-delay: .2s;
    z-index: 3;
}

.box-all:hover .sprite {
    opacity: 1;
}

.box-all:hover .late-play {
    opacity: 1;
}

.box-header {
    display: -webkit-box;
    height: 40px;
    margin: 10px 0 8px;
    padding-right: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.box-up {
    display: flex;
    font-size: 12px;
    color: #999;
    line-height: 16px;
}

.box-icon {
    margin-right: 5px;
    vertical-align: middle;
}

.rank-wrap {
    display: flex;
    margin-bottom: 18px;
    justify-content: space-between;
}

.rank-img {
    position: relative;
    cursor: pointer;
}

.rank-img:hover .late-play {
    opacity: 1;
}

.rank-img img {
    width: 112px;
    height: 63px;
}

.rank-info {
    display: flex;
    width: 290px;
    justify-content: space-between;
}

.rank-detail {
    margin-left: 12px;
}

.rank-detail span {
    display: block;
    margin-top: 8px;
    color: #999;
    font-size: 12px;
}

.rank-pre {
    display: -webkit-box;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.box-rank .rank-num {
    flex-shrink: 0;
}

.rank-title {
    height: 20px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.switch-tab {
    display: flex;
}

.switch-tab div:first-child {
    margin-left: 4px;
}

.switch-tab>div {
    height: 30px;
    margin-right: 24px;
    line-height: 30px;
    cursor: pointer;
}

.switch-tab>.cur {
    color: #00a1d6;
    border-bottom: 1px solid #00a1d6;
}

.date-btn {
    width: 112px;
    height: 30px;
    border: 1px solid #00a1d6;
    border-radius: 2px;
    background: #fff;
    text-align: center;
    line-height: 27px;
    color: #00a1d6;
}

.date-btn::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: 2px;
    border: 1px solid;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
}

.date-btn:hover {
    color: #fff;
    background: #00a1d6;
}

.drama-list {
    height: 376px;
    overflow: auto;
}

.drama-con {
    display: none;
    flex-flow: row wrap;
}

.drama-item {
    display: flex;
    width: 227px;
    margin: 0 30px 24px 0;
    justify-content: space-between;
}

.drama-item>a {
    display: block;
    width: 70px;
    height: 70px;
    margin-right: 12px;
}

.drama-desc {
    display: flex;
    width: 152px;
    flex-flow: column;
    justify-content: space-between;
    padding: 5px 0 4px;
}

.drama-desc a:last-child {
    color: #00a1d6;
    font-size: 12px;
}

.rank-drama {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.drama-title {
    width: 198px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.drama-proc {
    font-size: 12px;
    color: #999;
}

.crown {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 24px;
    background-image: url('../images/icon_gold.png');
    background-size: contain;
    z-index: 1;
}

.drama-update .box-list {
    height: 376px;
}

.box-carousel-wrap {
    position: relative;
    width: 320px;
    height: 314px;
    overflow: hidden;
}

.box-carousel {
    position: absolute;
    width: 600%;
}

.box-carousel .carousel-item {
    width: 320px;
    height: 314px;
}

/* 国创 */

.guochuang .box-carousel-wrap {
    height: 110px;
}

.guochuang .carousel-item {
    height: 110px;
}

/* 专栏 */

.column-list .box-item {
    display: flex;
    width: 400px;
    flex-flow: row wrap;
}

.column-list .box-all {
    width: 120px;
    height: 90px;
}

.column-info {
    width: 264px;
    height: 90px;
    margin-left: 16px;
}

.column-info .box-header {
    margin: 0 0 8px;
    padding-right: 0;
}

.column-info .box-up {
    margin-bottom: 5px;
}

.column-info .information {
    position: relative;
    color: #999;
    padding: 0;
}

/* 漫画 */

.comics .switch-tab div {
    font-size: 12px;
}

.comics-con {
    display: none;
    height: 581px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}

.comics-item {
    width: 162px;
    margin-bottom: 20px;
}

.comics-title {
    display: block;
    width: 100%;
    margin: 10px 0 8px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.comics-tag {
    color: #999;
    font-size: 12px;
}

.comics-rank {
    display: flex;
}

.comics-rank img {
    width: 112px;
    margin-right: 15px;
}

.comics-desc p {
    margin: 9px 0 2px;
    color: #999;
    font-size: 12px;
}

.switch-tab a {
    display: block;
    position: relative;
    height: 30px;
    margin-right: 24px;
    font-size: 12px;
    color: #505050;
    line-height: 30px;
    cursor: pointer;
}

.switch-tab a:hover {
    color: #00a1d6;
}

.comics .switch-tab .app-down {
    position: absolute;
    left: 28px;
    top: -12px;
    width: 72px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background: #fa5a57;
    border-radius: 19px;
}

/* 底部 */
.footer{
    background: #f6f9fa;
    padding: 30px 0;
}